.chat-create-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.chat-create-modal-paper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.chat-create-modal-text-area-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.chat-create-modal-text-area {
    width: 800px;
}