.rag-document-export-modal-paper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
}

.rag-document-export-modal-text-area-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.rag-document-export-modal-text-area {
    width: 100%;
}