.main-view-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;
}

.main-view-column {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.main-view-content {
    flex: 1;
}

.main-view-side {
    width: 300px;
    margin-right: 10px;
}